//tipografia
$fuentePrincipal: "Montserrat", sans-serif;

//colores
$verde:#0d1821; // negro guay
$rosa: #ee5622; // naranja
$amarillo: #fed766; // amarillo guay
$morado: #31263E; // darkPurple
$negro: #221E22;
$blanco: #ffffff;
$newpink: #c7449e;

//tamaños de mediaQueries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;